<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-offset-md-3">
      <%= form_with model: @customer, url: customers_path, local: true do |f| %>
        <h1>Create a Customer Account</h1>
        <div class="input-group">
          <%= f.label :email, 'Email' %>
          <%= f.text_field :email, placeholder: 'Email', class: 'form-input' %>
        </div> 
        <div class="input-group">
          <%= f.label :password, 'Password' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-input'%>
        </div>
        <div class="input-group">
          <%= f.label :password_confirmation, 'Password Confirmation' %>
          <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-input'%>
        </div>
        <div class="flex-items-between">
          <%= link_to 'Log In', new_session_path %>
          <%= f.submit 'Submit', class: 'btn btn-success btn-wide' %>
        </div>
      <% end %>
      <%= render 'shared/flash'%>
    </div>
  </div>
</div>