<div class="container">
	<div class="row">
		<div class="col-12 center-items">
			<h1><%= @offers_fascade.company_title %></h1>
		</div>
	</div>
	<div class="row margin-top-add">
		<div class="col-6">
			<h3>Position: <%= @offers_fascade.offer.position %></h3>
			<p>Type Of Contract: <%= @offers_fascade.offer.type_of_contract%></p>
			<p>Salary: <%= @offers_fascade.offer.salary %></p>
			<%= link_to 'Show Interest', customers_offer_path(@offers_fascade.offer), method: :patch%>
			<%= render 'shared/flash'%>
		</div>
		<div class="col-6">
			<h3>Company Description:</h3>
			<%= simple_format @offers_fascade.company_description%>
		</div>
	</div>
	<div class="row margin-top-add">
		<div class="col-12 center-items">
			<h1>Other offers from this company: </h1>
		</div>
		<%= render @offers_fascade.company_offers %>
	</div>
</div>
