<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-offset-md-3">
      <%= form_with model: @profile, url: customers_profile_path, method: :patch, local: true do |f| %>
        <div class="center-items">
          <h1>Edit Your Account</h1>
        </div>
        <div class="input-group">
          <%= f.label :email, 'Email*' %>
          <%= f.text_field :email, placeholder: 'Email', class: 'form-input' %>
        </div>
        <div class="input-group">
          <%= f.label :full_name, 'Full Name' %>
          <%= f.text_field :full_name, placeholder: 'Full Name', class: 'form-input'%>
        </div>
        <div class="input-group">
          <%= f.label :skills, 'Skills*' %>
          <%= f.text_field :skills, placeholder: 'Skills (seperate each skill by comma)', class: 'form-input' %>
        </div>
        <div class="input-group">
          <%= f.label :experience, 'Experience (optional)' %>
          <%= f.text_area :experience, placeholder: 'Experience', class: 'form-input' %>
        </div> 
        <div class="input-group">
          <%= f.label :motivation_letter, 'Motivation Letter (optional)' %>
          <%= f.text_area :motivation_letter, placeholder: 'Motivation Letter', class: 'form-input'%>
        </div>
        <div class="seperate-top-bottom">
          <h4>If you want to update your password: </h4>
        </div>
        <div class="input-group">
          <%= f.label :password, 'Password (optional)' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-input'%>
        </div>
        <div class="input-group">
          <%= f.label :password_confirmation, 'Password Confirmation (optional)' %>
          <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-input'%>
        </div>
        <div class="flex-items-between">
          <%= f.submit 'Submit', class: 'btn btn-success btn-wide' %>
        </div>
      <% end %>
    </div>
    <div class="col-12 center-items">
      <%= render 'shared/flash'%>
    </div>
  </div>
</div>