<div class="container">
  <% if @profiles_fascade.has_properties? %>
    <div class="row">
      <div class="col-12 center-items">
        <h1><%= @profiles_fascade.customer.full_name %></h1>
      </div>
    </div>
    <div class="row margin-top-add">
      <div class="col-4 col-offset-1">
        <h4>Skills: </h4>
        <%= @profiles_fascade.customer.skills %>
        <% if @profiles_fascade.has_motivation_letter? %>
          <h4>Motivation Letter</h4>
          <%= simple_format @profiles_fascade.customer.motivation_letter %>
        <%end%>
        <% if @profiles_fascade.has_experience? %>
          <h4>Experience</h4>
          <%= simple_format @profiles_fascade.customer.experience %>
        <%end%>
      </div>
      <div class="col-4 col-offset-1">
        <div class="row">
          <h4>This User applied to <%= @profiles_fascade.number_of_applications %> Job Offers</h4>
        </div>
        <%= render 'offers', offers: @profiles_fascade.customer_applications %>
      </div>
    </div>
  <%else%>
    <div class="row">
      <div class="col-12">
        <h1>This Customer need to update account before being visible.</h1>
        <%= link_to 'Update Profile', edit_customers_profile_path(@profiles_fascade.customer) if @profiles_fascade.customer == @current_user %>
      </div>
    </div>
  <%end%>
</div>