<div class="container">
  <% if !@profile.properties.empty? %>
    <div class="row">
      <div class="col-12">
        <h1><%= @profile.full_name %></h1>
      </div>
      <div class="col-8">
        <h4>This User applied to <%= @profile.applicants.length %> Job Offers</h4>
        <% if @profile.motivation_letter.present? %>
          <h4>Motivation Letter</h4>
          <%= simple_format @profile.motivation_letter %>
        <%end%>
        <% if @profile.experience.present? %>
          <h4>Experience</h4>
          <%= simple_format @profile.experience %>
        <%end%>
      </div>
      <div class="col-4">
        <%= link_to 'Edit Profile', edit_customers_profile_path(@profile) if @profile == @current_user %>
        <h4>Skills: </h4>
        <% @profile.skills.split(',').each do |skill| %>
          <p><%= skill%></p>
        <%end%>
      </div>
    </div>
  <%else%>
    <div class="row">
      <div class="col-12">
        <h1>This Company need to update account before being visible.</h1>
        <%= link_to 'Update Profile', edit_customers_profile_path(@profile) if @profile == @current_user %>
      </div>
    </div>
  <%end%>
</div>