<% profiles.each do |profile| %>
	<% if profile != @current_user %>
		<div class="col-4-lg col-4-md col-12-sm">
			<p><%= profile.contact_email%></p>
			<%= simple_format profile.description %>
			<h4>Employees: <%= profile.employees %></h4>
			<h4>Job Offers: <%= profile.offers.length %></h4>
			<%= link_to 'Show Profile', companies_profile_path(profile.id)%>
		</div>
	<%end%>
<%end%>