<div class="container">
  <% if @profiles_fascade.has_properties? %>
    <div class="row">
      <div class="col-8 col-offset-2 center-items">
        <h1><%= @profiles_fascade.company.title %></h1>
      </div>
      <div class="col-4 col-offset-1">
        <h4>Employees: <%= @profiles_fascade.company.employees %></h4>
        <p>Contact Email: <%= @profiles_fascade.company.contact_email %></p>
        <h4>Description: </h4>
        <%= simple_format @profiles_fascade.company.description %>
      </div>
      <div class="col-4 col-offset-1">
        <div class="row">
          <div class="col-12">
            <h4>Available Positions:</h4>
          </div>
        </div>
        <div class="row">
          <%= render 'profile_offers', offers: @profiles_fascade.company.offers %>
        </div>
      </div>
    </div>
  <%else%>
    <div class="row">
      <div class="col-12">
        <h1>This Company need to update account before being visible.</h1>
        <%= link_to 'Update Profile', edit_companies_profile_path(@profiles_fascade.company) if @profiles_fascade.company == @current_user %>
      </div>
    </div>
  <%end%>
</div>