<div class="col-4">
	<%= link_to companies_offer_path(offer) do %>
		<h3><%= offer.position %></h3>
		<p>Type Of Contract: <%= offer.type_of_contract%></p>
		<p>Salary: <%= offer.salary %></p>
		<p>Applicants: <%= offer.applicants.length %></p>
	<%end%>
</div>