<div class="container">
	<div class="row">
		<div class="col-12 center-items">
			<h1><%= @offer.company.title %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<h3>Position: <%= @offer.position %></h3>
			<p>Type Of Contract: <%= @offer.type_of_contract %></p>
			<p>Salary: <%= @offer.salary %></p>
		</div>
		<div class="col-6">
			<h3>Applicants: <%= @applicants.length %></h3>
			<%= render 'applicants', applicants: @applicants %>
		</div>
	</div>
</div>
