<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h1>All Candidates</h1>
		</div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      Search:
      <%= link_to 'By Skills', '#', data: 'by_skills', id: 'links', remote: true %>
      <%= link_to 'By Name', '#', data: 'by_name', id: 'links', remote: true %>
      <%= link_to 'By Email', '#', data: 'by_email', id: 'links', remote: true %>
      <div class="search-box" id="by_skills">
      <%= form_with scope: :search, url: companies_candidates_path, remote: true, method: :get do |f| %>
          <%= f.text_field :skills, placeholder: 'Skills (seperate each by comma)', class: 'input' %>
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        <% end %>
      </div>
      <div class="search-box" id="by_name">
        <%= form_with scope: :search, url: companies_candidates_path, remote: true, method: :get do |f| %>
          <%= f.text_field :name, placeholder: 'Name', class: 'input' %>
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        <% end %>
      </div>
      <div class="search-box" id="by_email">
        <%= form_with scope: :search, url: companies_candidates_path, remote: true, method: :get do |f| %>
          <%= f.text_field :email, placeholder: 'Email', class: 'input' %>
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
	</div>
	<div  class="row" id="content">
		<%= render 'candidates', candidates: @candidates_fascade.customers %>
	</div>
</div>

<script>
  var links = document.querySelectorAll('#links');
  var search_boxes = document.querySelectorAll('.search-box');
  var active = false;

  if ( !active ) {
    search_boxes[0].classList.add('search-box-active');
    active = true;
  }

  makeActive = function () {
    for (var i = 0; i < search_boxes.length; i++) {
      search_boxes[i].classList.remove('search-box-active');
    }
    document.getElementById(this.getAttribute("data")).classList.add('search-box-active');
  };

  for (var i = 0; i < links.length; i++) {
    links[i].addEventListener('click', makeActive);
  }
</script>